body {
    padding: 0;
    margin: 0;
    background: #000;
}




.navbar {
    background:#000;
}
.nav-link,
.navbar-brand {
    color: #666;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #999;
}
.navbar-collapse {
    justify-content: flex-end;
}




/*

.header {
    background-image: url('images/HM-background.png');
    background-size: cover;
    background-position: center;
    position: relative;
}
*/

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
}


.description {
	left: 50%;
	position: absolute;
	top: 45%;
	transform: translate(-50%, -55%);
	text-align: center;
}
.description h1 {
	color: #6ab446;
}
.description p {
	color: #fff;
	font-size: 1.3rem;
	line-height: 1.5;
}









@media (max-width: 575.98px) {
    .description {
        left: 0;
        padding: 0 15px;
        position: absolute;
        top: 10%;
        transform: none;
        text-align: center;
    }
 
    .description h1 {
        font-size: 2em;
    }
 
    .description p {
        font-size: 1.2rem;
    }
 
    .features {
        margin: 0;
    }
}
